<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>  

<section>
  <h2>Crop Recommendation System</h2>
  <p>"Introducing our revolutionary Crop Recommendation System, an intelligent and data-driven solution designed to help farmers increase their crop yield and productivity. Powered by advanced machine learning algorithms, our system analyzes various environmental and soil factors, such as temperature, humidity, soil pH, and nutrient content, to provide personalized crop recommendations for each farmer. With an impressive 99.21% accuracy rate, our system delivers precise and reliable results that empower farmers to make informed decisions about their crop selection. Whether you're a seasoned farmer or a new enthusiast, our Crop Recommendation System is the perfect tool to help you grow your crops with confidence and efficiency."</p>
</section>

<div class="container">
  <div class="card">

     <img src="{{ url_for('static', filename='images/809.png') }}" alt="logo" width="150" height="150">
    <h3>Anand Jogdand</h3>
      <p> Anandjogdand646@gmail.com</p>
    <p>
      "I have completed my Bachelor of Instrumentation Engineering at AISSMS IOIT Pune in 2023. Additionally, I have eight months of experience as a DevOps engineer, along with a four-month internship in data engineering. I am eager to continue learning and expanding my skills in new areas."</p>
  </div>

  

  

</div>
</body>
</html>