/* Body styles */

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/static/images/image2.jpg");
  background-size: auto 500vh; /* Set width to auto and height to 500vh */
  background-position: center;
  background-repeat: no-repeat;
  height: 0vh;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} 

/* Add more CSS styles as needed */

.slider {
  overflow: hidden;
  background-color: #409fac0f;
}

.slider h3 {
  display: inline-block;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Header styles */
header {
  background-image: url('/path/to/your/image.jpg'); /* Background image for the header */
  background-size: cover; /* Cover the entire header area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 10px 0; /* Adjusted padding */
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjusted padding */
}

/* Logo styles */
.logo img {
  height: 40px; /* Reduced logo height for better proportion */
  width: auto;
}

/* Menu styles */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #333; /* Dark text color */
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.menu ul li a:hover {
  color: #007bff; /* Hover color */
}

/* Style the flip card container */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* Flip card inner container */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Flip card front */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 113%;
  height: 100%;
  backface-visibility: hidden;
}

/* Flip card front image */
.flip-card-front img {
  width: 100%;
  height: 100%;
}

/* Flip card back */
.flip-card-back {
  transform: rotateY(180deg);
  height: 100px;
}

/* Flip card back image */
.flip-card-back img {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

/* Flip card animation */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 30px;
  position: relative;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #0066ff;
}

/* Add animation */
nav ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0066ff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Text styles */

.text {
  text-align: center;
}

h1 {
  font-size: 48px;
  /* margin-bottom: 0; */
  /* margin-top: 100px; */
  animation-name: rainbow;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0.06, 0.58, 1);
  animation-iteration-count: infinite;}

@keyframes rainbow {
  0% { color: #FF0000; }
  20% { color: #FF7F00; }
  40% { color: #FFFF00; }
  60% { color: #00FF00; }
  80% { color: #0000FF; }
  100% { color: #4B0082; }
}

h3 {
  font-size: 24px;
}

/* Form styles */

.form {
  background-color: rgb(181 181 181 / 86%);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation-name: slide-in;
  animation-duration: 1.5s;
  margin-top: 22px;
}

.form input[type="text"],
.form input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form label {
  font-size: 16px;
  font-weight: bold;
}

.form button {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.form button:hover {
  background-color: #3e8e41;
  animation: none;
}

.form button:hover {
  background-color: #3e8e41;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Footer styles */

.content {
  height: 500px;
}

.footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

/* Media queries */

@media (max-width: 600px) {
  .link a {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
}

/* Add this CSS code to your stylesheet */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.button:hover:before {
  transform: scaleX(1);
}

.button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.button:hover:after {
  width: 200px;
  height: 200px;
  opacity: 1;
}

/* Card Container */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 30%;
  margin-top: 20px;
}

/* Card Inner Container */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Card Front Side */
.flip-card-front {
  position: absolute;
  width: 103%;
  height: 40%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 17px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

/* Card Front Image */
.flip-card-front img {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

/* Card Back Side */
.flip-card-back {
  background-color: #f2f2f2;
  color: #333;
  font-size: 18px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transform: rotateY(180deg);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.result {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Card Flip Animation */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.card {
  flex: 0 0 calc(33.33% - 30px);
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 15px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: #007bff;
}

.card p {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.card:hover {
  transform: translateY(-5px);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
  pointer-events: none;
  border-radius: 20px;
}

.card:hover::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

footer {
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section p {
  font-size: 16px;
  color: #888;
}

.right-section ul {
  list-style: none;
  display: flex;
}

.right-section ul li {
  margin: 0 10px;
}

.right-section ul li a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.right-section ul li a:hover {
  color: #000;
}

/* Crop predictor section styles */

result {
  text-align: center;
  font-size: xxx-large;
  font-family: "Bodoni MT Black";
  font-weight: bold;
  border: #1cad1c;
  color: crimson;
  background-color: #2196f37d;
}

.prediction h3 {
  font-size: 18px;
  color: rgba(0, 10, 30, 0.85);
  margin-top: 53px;
  /* animation: pulse 2s infinite; */
  background-color: #7e252552;
}

.prediction {
  color: rgba(1, 14, 37, 0.85);
  font-size: 18px;
  margin-top: 20px;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
